<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200483111511-rlm92ito63ltmc24hd2psen5cv8jaauc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200483111511-rlm92ito63ltmc24hd2psen5cv8jaauc</string>
	<key>API_KEY</key>
	<string>AIzaSyChpseZ6ptRkU5zGoQlgf2fSIGAq2CxOWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>200483111511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kyoi.Uber-Clone</string>
	<key>PROJECT_ID</key>
	<string>uber-clone-fcab0</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-clone-fcab0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200483111511:ios:e287f650a92d1158fed912</string>
</dict>
</plist>